@import "bourbon";
@import "vars.scss";

@media screen and (max-height: 600px){
  div[id*="modal_callback"] .md-content, div[id*="modal_subscribe"] .md-content, div[id*="modal_question"] .md-content{
    padding: 10px;
  }
  .field input{
    padding: 20 0;
  }
}
// 599
@include for-size(phone-only) {
  div[id*="modal_callback"] .md-content, div[id*="modal_subscribe"] .md-content, div[id*="modal_question"] .md-content{
    padding: 10px;
  }
  .field input{
    padding: 20 0;
  }
  div[id*="modal_politics"] h2{
    padding-top: 60px;
  }
  [class*="col-"]{width: 100% !important;}
  body{font-size: 15px;}
  h2{font: 34px/40px "Raleway-Bold", sans-serif;}
  .title{
    font-size: 21px;
    line-height: 24px;
    br{display: none;}
  }
  .btn{
    font-size: 16px;
    width: 100% !important;
    max-width: 300px !important;
  }
  #sec_01{
    text-align: center;
    .top{
      nav{
        display: none;
      }
      .call{
        margin-top: 20px;
      }
    }
    .content_left{
      margin-top: 90px;
      float: none;
      .wrap_text{
        margin: 0 auto;
        width: 100%;
      }
    }
    .beforeheader{
     br{display:none}
      font-size: 44px;
      margin-bottom: 20px;
      line-height: 48px;
          span{
            display: block;
          }
    }
    .small_text{
      position: static !important;
      display: block;
      margin-top: -176px;
      margin-bottom: 100px;
      br{display: none;}
    }
    h1{
      font-size: 44px;
      line-height: 50px;
    }
    .picture{
      display: none;
    }
    .price{
      display: none;
    }
    .btn{
      margin: 30px auto 200px;
      float: none;
      max-width: 400px;
      width: 100%;
    }
    .container{background: none;}
  }
  #sec_10{
    padding: 60px 0 30px;
    .slide{
      padding: 50px 25px;;
      .text_block{
        width: 100%;
        text-align: center;
        margin-top: 30px;
      }
      .content_block{
        float: none;
        width: 150px;
        text-align: center;
        margin: 0 auto;
      }
    }
  }
  #sec_12{
    padding-bottom: 50px;
    text-align: center;
    .logo{margin-bottom: 20px;  }
    .contacts{
      padding-left: 0;
      margin-top: 20px;
      li:before{
        display: none;
      }
    }
    .call{
      float: none;
      margin: 20px auto;
    }
  }
  footer{
    text-align: center;
    .col-9, .col-3{width: 100%;}
    .politics{
      float: none;
      text-align: center;
      a{display: block;}
      a+a{margin-left: 0;}
    }
    .footer-fire, .logo_rezart{
      float: none;
      margin: 15px 20px 10px;
    }
  }
}
@media screen and (max-width: 600px){}
// 600 -899
@include for-size(tablet-portait-only) {
  body{font-size: 15px;}
  h2{font: 34px/40px "Raleway-Bold", sans-serif;}
  .title{
    font-size: 21px;
    line-height: 24px;
  }
  .btn{font-size: 16px;}
  #sec_01{
    text-align: center;
    .top{
      nav{
        display: none;
      }
      .call{
        margin-top: 20px;
      }
    }
    .content_left{
      margin-top: 60px;
      float: none;
      .wrap_text{
        margin: 0 auto;
      }
    }
    .beforeheader{
      font-size: 60px;
      margin-bottom: 20px;
      line-height: 60px;
    }
    .small_text{
      position: static !important;
      display: block;
      br{display: none;}
    }
    h1{
      font-size: 70px;
      line-height: 40px;
    }
    .picture{
      display: none;
    }
    .price{
      display: none;
    }
    .btn{
      margin: 30px auto 200px;
      float: none;
    }
    .container{background: none;}
  }

  #sec_10{
    padding: 60px 0;
    .slide{
      padding: 50px;
      .text_block{
        width: 100%;
        text-align: center;
        margin-top: 30px;
      }
      .content_block{
        float: none;
        width: 100px;
        margin: 0 auto;
      }
    }
    .slick-next{
      left: initial;
      right: 50%;
      margin-right: -70px;
      top: 180px;
    }
    .slick-prev{
      left: 50%;
      margin-left: -70px;
      top: 180px;
    }
  }
  #sec_12{
    .row .col-3:nth-child(4){display: none;}
    .row .col-3:nth-child(1){width: 25%;}
    .col-3{width: 37.5%;}
  }
  footer{
    text-align: center;
    .col-9, .col-3{width: 100%;}
    .politics{
      float: none;
      text-align: center;
      a{display: block;}
      a+a{margin-left: 0;}
    }
    .footer-fire, .logo_rezart{
      float: none;
      margin: 15px 20px 10px;
    }
  }
}
@media screen and (max-width: 900px){
  .paralax_letter, ._letter {
    display: none;
  }
  .cta_row{background: none !important;}
}
// 900 - 1199
@include for-size(tablet-landscape-only) {
  body{font-size: 16px;}
  h2{font: 38px/40px "Raleway-Bold", sans-serif;}
  .title{
    font-size: 23px;
    line-height: 28px;
  }
  #sec_01{
    .top{
      .logo{
        img{
          width: 60px;
        }
      }
      nav{
        margin-left: 15px;
        margin-top: 25px;
        a{font-size: 15px;}
        a+a{margin-left: 5px;}
      }
      .call{
        margin-top: 20px;
      }
    }
    .beforeheader{
      font-size: 50px;
      line-height: 60px;
    }
    .small_text{
      right: -110px !important;
    }
    h1{
      font-size: 70px;
      line-height: 40px;
    }
    .picture{
      padding-right: 30px;
      margin-top: 55px;
      img{
        width: 320px;
        animation: none;
      }
    }
    .picture:before{
      display: none;
    }
    .price{
      font-size: 30px;
      margin-left: 20px;
    }
  }
  #sec_10{
    .slide{
      padding-left: 80px;
      .text_block{
        width: 500px;
      }
    }
  }
}
@media screen and (max-width: 1200px){
  // .paralax_letter, ._letter{display:none;}
  .text br{display: none}
}